registry=https://abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/registry/ 
                        
always-auth=true

; begin auth token
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/registry/:username=ABSCBN-ITDEV
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/registry/:_password=M2l5d29yaGNqM2I1ZXpjd3NpZHR4c2twamRsenVidXA1NWttdGNtaTRpMjV4cm02dXpscQ==
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/registry/:email=npm requires email to be set but doesn't use the value
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/:username=ABSCBN-ITDEV
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/:_password=M2l5d29yaGNqM2I1ZXpjd3NpZHR4c2twamRsenVidXA1NWttdGNtaTRpMjV4cm02dXpscQ==
//abscbn-itdev.pkgs.visualstudio.com/3dfc7b66-eda3-452a-b4d2-0bf1401f8828/_packaging/imp-design-system/npm/:email=npm requires email to be set but doesn't use the value
; end auth token


