@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Corsiva";
  src: url("../public/assets/Monotype\ Corsiva.ttf");
}

/* zoom animation */
@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  max-width: 100%;
  background-color: #fff;
}

.asDivider {
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, gray),
    color-stop(0.98, white)
  );
}

.asFooterMenuWrap > *:not(:first-child)::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.ReactPlayerVideoCover video {
  object-fit: cover;
}

.paymentHistoryTable td:before {
  content: attr(data-label) ": ";
}
@media screen and (max-width: 959px) {
  .paymentHistoryTable tr:not(:last-child) {
    border-bottom: #000 6px solid;
  }
}
@media screen and (min-width: 960px) {
  .paymentHistoryTable td::before {
    display: none;
  }
}
.paymentHistoryTable thead {
  position: relative;
}
/* .paymentHistoryTable thead::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
.paymentHistoryTable tbody tr:first-child td{
  border-top: transparent 15px solid;  
} */
@media screen and (max-width: 959px) {
  .paymentHistoryTable tbody tr:first-child td {
    border-top: transparent 0px solid;
  }
}

.no-arrows,
.no-arrows:focus,
.no-arrows:active,
.no-arrows:visited {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none; /* WebKit (Chrome, Safari) */
}

.no-arrows,
.no-arrows:focus,
.no-arrows:active,
.no-arrows:visited {
  -moz-appearance: textfield; /* Firefox */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: pulse 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.fullWidthDatePicker .react-datepicker-wrapper {
  width: 100%;
}
.fullWidthDatePicker .react-datepicker-wrapper input {
  padding-right: 50px;
  background-color: transparent;
  font-size: 0px;
}

/* NEW PRELOADER CSS */
.flower-loader-white {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f7bc39;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
    white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
    white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, white -12px -12px 0 4px, white 12px -12px 0 4px,
    white 12px 12px 0 4px, white -12px 12px 0 4px;
  -moz-animation: flower-loader-white 5s infinite ease-in-out;
  -webkit-animation: flower-loader-white 5s infinite ease-in-out;
  animation: flower-loader-white 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes flower-loader-white {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, white 12px 12px 0 4px,
      white -12px 12px 0 4px, white -12px -12px 0 4px, white 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, white 12px 12px 0 4px, white -12px 12px 0 4px,
      white -12px -12px 0 4px, white 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader-white {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: white 0 0 15px 0, white 12px 12px 0 4px,
      white -12px 12px 0 4px, white -12px -12px 0 4px, white 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, white 12px 12px 0 4px, white -12px 12px 0 4px,
      white -12px -12px 0 4px, white 12px -12px 0 4px;
  }
}
@keyframes flower-loader-white {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, white -12px -12px 0 4px,
      white 12px -12px 0 4px, white 12px 12px 0 4px, white -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, white 12px 12px 0 4px,
      white -12px 12px 0 4px, white -12px -12px 0 4px, white 12px -12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, white 12px 12px 0 4px,
      white -12px 12px 0 4px, white -12px -12px 0 4px, white 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, white 12px 12px 0 4px, white -12px 12px 0 4px,
      white -12px -12px 0 4px, white 12px -12px 0 4px;
  }
}

/* BLACK FLOWER LOADER */
.flower-loader-black {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f7bc39;
  border-radius: 100%;
  -moz-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
    black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
  -webkit-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
    black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
  box-shadow: black 0 0 15px 0, black -12px -12px 0 4px, black 12px -12px 0 4px,
    black 12px 12px 0 4px, black -12px 12px 0 4px;
  -moz-animation: flower-loader-black 5s infinite ease-in-out;
  -webkit-animation: flower-loader-black 5s infinite ease-in-out;
  animation: flower-loader-black 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes flower-loader-black {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
    box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: black 0 0 15px 0, black 12px 12px 0 4px,
      black -12px 12px 0 4px, black -12px -12px 0 4px, black 12px -12px 0 4px;
    box-shadow: black 0 0 15px 0, black 12px 12px 0 4px, black -12px 12px 0 4px,
      black -12px -12px 0 4px, black 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader-black {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
    box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: black 0 0 15px 0, black 12px 12px 0 4px,
      black -12px 12px 0 4px, black -12px -12px 0 4px, black 12px -12px 0 4px;
    box-shadow: black 0 0 15px 0, black 12px 12px 0 4px, black -12px 12px 0 4px,
      black -12px -12px 0 4px, black 12px -12px 0 4px;
  }
}
@keyframes flower-loader-black {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
    -webkit-box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
    box-shadow: black 0 0 15px 0, black -12px -12px 0 4px,
      black 12px -12px 0 4px, black 12px 12px 0 4px, black -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: black 0 0 15px 0, black 12px 12px 0 4px,
      black -12px 12px 0 4px, black -12px -12px 0 4px, black 12px -12px 0 4px;
    -webkit-box-shadow: black 0 0 15px 0, black 12px 12px 0 4px,
      black -12px 12px 0 4px, black -12px -12px 0 4px, black 12px -12px 0 4px;
    box-shadow: black 0 0 15px 0, black 12px 12px 0 4px, black -12px 12px 0 4px,
      black -12px -12px 0 4px, black 12px -12px 0 4px;
  }
}
.customDatePicker .react-datepicker-wrapper {
  width: 100%;
}

.bts-video-slide {
  width: fit-content !important;
}
