@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* zoom animation */
@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(.8, .8, .8);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(.8, .8, .8);
  }
  50% {
    opacity: 1;
  }
}


*, *::after, *::before {
  box-sizing: border-box
}

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  max-width: 100%;
  background-color: #000;
  /* font-family: 'Poppins', sans-serif; */
}
/* 
#__next {
  @apply h-full;
}

html {
  @apply h-full;
} */
.jk_jwp_full .jwplayer.jw-flag-aspect-mode{
  height: 100vh !important;
}

/* Need to Update */
.jwplayer.jw-stretch-fill .jw-media video{
  object-fit: contain !important;
}
.mainNav{
  background: linear-gradient(180deg,#181818,transparent 100%);
}

.slick-slide img{
  display: flex !important;
}
@media screen and (min-width: 960px) {
  .slick-list{
    overflow: visible !important;
    margin-left: -5px;
    margin-right: -5px;
  }
  .slick-slide {
    /* min-width:11vw !important; */
    padding-left:5px;
    padding-right:5px;
  }  
}
.group:hover .group-hover\:translate-x-\[2vw\]{
  --tw-translate-x : -2vw !important;
}
.layoutEdit .editItem{
  position: relative;
}

.movieSlider{
  position: relative;
  z-index: 1;
}
.movieSlider:hover{
  z-index: 2;
}
.movieSlider .slick-arrow:before, .movieSlider .slick-arrow:after{display: none !important;}
.movieSlider .slick-arrow{
  z-index: 20;
  width: 60px;
  height: 100%;
  color: #fff !important;
  opacity:1;
  transition: opacity 0.4s ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-90deg, rgba(0,0,0, 0) 0%, #000 100%) !important;
}
.movieSlider .slick-arrow svg{
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.4s;
}
.movieSlider .slick-arrow svg:hover{
  border-color: #fff;
}
.movieSlider .slick-arrow.slick-next{
  right:0;
  background: linear-gradient(90deg, rgba(0,0,0, 0) 0%, #000 100%) !important;
}
.movieSlider .slick-arrow.slick-prev{
  margin-left: -4rem;
  left:0
}
.movieBoxsInside .movieSlider .slick-arrow.slick-prev{
  margin-left: 0rem;
  left:0
}
.movieSlider .slick-arrow>svg{
  width: 100%;
}
.movieSlider:hover .slick-arrow{
  opacity:1;
}
.movieSlider .slick-disabled{
  opacity:0 !important;
}

.movieCard .img{
  width: 100%;
  /* padding-bottom:56.2827%; */
  position: relative;
}
.movieCard > .asPopOver{
  width: 120%;
  max-width: 100vw;
}
.portrait .movieCard > .asPopOver{
  width: 200%;
}
/* .movieCard>.absolute{
  width: 130%;
  max-width: 100vw;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.movieCard:hover>.absolute{
  transform: translate(-50%, -50%) !important;
}
.slick-slide.slick-active:first-of-type .movieCard>.absolute{
  left:75%;
}
.slick-slide.slick-active:last-of-type .movieCard>.absolute{
  left:25%;
} */

.movieCard .img>img, .movieCard .img>.imgPlaceholder{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.movieCard .jk_player{
  position: relative;
  width: 100%;
  padding-bottom: 56.2827%;
  overflow: hidden;
}
.jk_player .preview{
  height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  background: linear-gradient(0deg,#000, transparent 50%);
}
.movieCard .jk_player>.w-full.h-full{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.movieCard .jk_player .title{
  left:10px;
  bottom:10px;
  position: absolute;
  z-index: 2;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

/* movie list with number for the billboard */
.movieListNumberCard .font-monoton svg{
  height: 100% !important;
  width: auto !important;
}

.mobileCardsSlide{
  padding-bottom: 5px;
}
.mobileCardsSlide > .movieCard{
  min-width: 220px !important;
  margin-right: 10px !important;
}
.portrait .mobileCardsSlide > .movieCard{
  min-width: 143px !important;
  margin-right: 20px !important;
}
.mobileCardsSlide > .movieCardNumber{
  min-width: 180px !important;
  margin-right: 10px !important;
  width: 180px;
}

.movieSlider.portrait .slick-list {
    margin-left: -10px;
    margin-right: -10px;
}
.movieSlider.portrait .slick-slide {
  /* width: 13vw !important; */
  padding-left:10px;
  padding-right:10px;
}

/* .movieSlider.portrait .movieCard .img{
  padding-bottom: 157.7778%;
} */
.movieSlider .movieCard.aspect-square .img{
  padding-bottom: 100%;
}
/* .movieSlider.portrait .movieCard>.absolute{
  width: 170%;
} */
.movieSlider.portrait .group:hover .group-hover\:translate-x-\[2vw\]{
  --tw-translate-y : -2vw !important;
}

.moreLike .overlay{
  background-image: linear-gradient(198deg,rgba(0,0,0,.9),hsla(0,0%,9%,.5) 20%,transparent 28%);
}
.moreLike .playButtonSmall{
  opacity: 0;
  transition: opacity 0.4s;
}
.moreLike:hover .playButtonSmall{
  opacity:1
}

/* full slider */
.jk_player .h-full>.jwplayer{
  height: 100% !important;
}

/* movieCardTop [cards with numbers, for top items] */
.movieCardTop{
  position: relative;
  width: 100%;
  padding: 35.714285714% 0;
}
.movieCardTop .number, .movieCardTop>.img{
  position: absolute;
  width: 48%;
  /* height: 100%; */
  top:0;
  left: 0;
}
.movieCardTopBadgeWrap>.ticketBadge{
  width: 68%;
  margin-right: 0;
  margin-left: auto;
}
.movieCardTop>.img{
  width: 52%;
  left:auto;
  right: 0;
  /* padding:36.894273127753% 0 !important; */
}


.movieCardTopV2{
  padding: 46.784922394678% 0;
}
.movieCardTopV2 .number{
  height: 60%;
}
.movieCardTopV2 .number, .movieCardTopV2>.img{
  position: absolute;
  width: 37%;
  bottom:0;
  top: auto;
  left: 0;
}
.movieCardTopV2 .number svg path{
  fill: #ccc;
  stroke: #ccc;
}
.movieCardTopV2>.img{
  width: 63%;
  left:auto;
  right: 0;
  aspect-ratio: 6/9;
  /* padding: 46.784922394678% 0 !important; */
}


/*  edit screen  */
.layoutEdit{
  transform-origin: 50% 0;
}

.jk-dragging{
  opacity: 0.5;
  transform: scale(0.95);
  transition: all 0.4s;
}
.jk-dragover{
  background-color: #c8f4b3;
  /* padding-top: 30px; */
  transition: all 0.4s;
}

/*  zoomout animation from tailwindcss  */
@-webkit-keyframes zoomout {
  0% {
    opacity: 1;
    transform: scale3d(1.3, 1.3, 1.3);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomout {
  0% {
    /* transform: scale3d(.3, .3, .3); */
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    /* transform: scale3d(1, 1, 1); */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
.jk-droped{
  -webkit-animation: zoomout 0.4s;
          animation: zoomout 0.4s;
}

.movieSliderInner .slick-track{
  margin-left: 0px; 
}


/* if landscape mode */
@media (orientation: portrait) {
  .jk_jwp_full{
    height: auto !important;
    aspect-ratio: 16/9;
  }
}


/* .jk_jwp_full>.h-full>.h-full{
  opacity: 0.5 !important;


} */
/* 
.jwplayer.jw-flag-aspect-mode{
  max-height: 100vh !important;
}
.jk_jwp_full .jwplayer{
  height: 100vh !important;
} */

.planListsWrapper{
  font-size: 0;
}
.planListsWrapper > div{
  position: relative;  
}

@media screen and (min-width: 100px) {
  .planListsWrapper > div::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top:0;
    right:-2px;
    background: linear-gradient(
      transparent 15%,
      rgba(255,255,255,0.3) 35%,
      rgba(255,255,255,0.3) 55%,
      transparent 85%
    );
    z-index: 1;
    /* display: none; */
  } 
  .planListsWrapper > div:last-child::after{
    display: none;
  } 
}
/* @media screen and (min-width: 1144px) {
  .planListsWrapper > div::after{
    display: block;
  } 
  .planListsWrapper > div:nth-child(3n+1):after{
    display: none;
  } 
} */

@media screen and (max-width: 960px) {
  .planListsWrapper{
    justify-content: flex-start !important;
  } 
}

.jkBuyModal{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  align-items: flex-start;
}

@media screen and (min-height: 1000px){
  .jkBuyModal{
    align-items: center;
  }
}

.asDivider{
  width: 100%;
  height: 1px;  
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}

.asFooterMenuWrap > *:not(:first-child)::before{
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}


/* Movie List Reel */
.movieSliderReel .slick-slide {
  padding: 0 0.9vw !important;
}
.movieSliderReel .slick-list {
  margin: 0 -0.9vw !important;
}
.popUpGenre > span:not(:first-child)::before{
  margin-right: 8px;
  content: '';
  display: inline-block;
  width: 6px;  
  height: 6px;
  border-radius: 50%;
  background-color: #1D55CA;
}

/* New purchase Pan */
.g-container{
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;  
  background-color: #0F0F0F;
  z-index: 1;
}
.g-container:before{
  position: absolute;
  left: -18px;
  top: 0px;
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #262626;
  background-color: #1A1A1A;
  border-radius: 50%;
  z-index: 2;
}
.g-container:after{
  position: absolute;
  right: -20px;
  top: 0px;
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #262626;
  background-color: #1A1A1A;
  border-radius: 50%;
  z-index: 2;
}
.g-containerInner{
  position: relative;
  z-index: 3;
  background-color: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.g-containerInner:before{
  position: absolute;
  left: -17px;
  top: 0px;
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #262626;
  background-color: #1A1A1A;
  border-radius: 50%;
  z-index: 2;
}
.g-containerInner:after{
  position: absolute;
  right: -20px;
  top: 0px;
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #262626;
  background-color: #1A1A1A;
  border-radius: 50%;
  z-index: 2;
}
.g-container .g-content {
  height: 40px;
}

.g-container .g-content .g-filter {
  height: 40px;
  background: radial-gradient(circle at 0% 50%, transparent 0, transparent 19px, #0F0F0F 20px, #0F0F0F) left,
              radial-gradient(circle at 100% 50%, transparent 0, transparent 19px, #0F0F0F 20px, #0F0F0F) right;
  background-size: 50% 100%; /* Adjust the size of each circle to cover 50% of the container */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  display: flex;
  align-items: center;
  justify-content: center;
}


.g-container2 {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-top: -40px;
  background-color: green;
}
.g-container2 .g-content2 {
  height: 40px;
}

.g-container2 .g-content2 .g-filter2 {
  height: 40px;
  background: radial-gradient(circle at 0% 50%, transparent 0, transparent 19px, #0F0F0F 20px, #0F0F0F) left, radial-gradient(circle at 100% 50%, transparent 0, transparent 19px, #0F0F0F 20px, #0F0F0F) right;
  background-size: 50% 100%; /* Adjust the size of each circle to cover 50% of the container */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailsPageTabContent{
  min-height: 150px;
}

.jkGradient{
  border-radius: 6px;
  background: #1624FF;
  background: linear-gradient(180deg, rgba(22, 56, 255, 0) 50%, #1624FF 85.4%);
}
.jkGradient-black{
  border-radius: 6px;
  background: #000;
  background: linear-gradient(180deg, rgba(0,0,0, 0) 50%, #000 85.4%);
}
.billboardSec .lockedIcon{
  display: none;
}


.mobileCarousel .slick-list{
  overflow: visible !important;
}
.mobileCarousel .slick-slide {
  transition: all 0.4s;
}
.mobileCarousel .slick-active{
  scale: 1.2;
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}


.ReactPlayerVideoCover video{
  object-fit: cover;
}

.movieSmallModal{
  animation: zoom 0.4s;
  height: fit-content;
}

@media screen and (max-width: 960px) {
    #__next{
      padding-bottom: 60px;
    }
}

.ScrollSpyNav .active, .scrollSpyItem.active{
  border-color: blue;
}

.mainHeader + .mainFooter{
  margin-top: 160px;
}

.billboardSlider .slick-dots{
  bottom: 10px;
}
.billboardSlider .slick-dots li{
  margin: 0px 3px;
}
.billboardSlider .slick-dots button{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eee;
  border: 2px solid #eee;
  font-size: 0;
}
.billboardSlider .slick-dots .slick-active button{
  background-color: #1D55CA;
}
.billboardSlider .slick-dots button:before, .billboardSlider .slick-arrow:before{
  display: none;
}
.billboardSlider .slick-arrow{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.billboardSlider .slick-prev{  
  left: 15px;
}
.billboardSlider .slick-next{
  right: 15px;
}
.billboardSlider .slick-slide{
  padding: 0px;
}
.mobileEventCardsSlide > div{
  min-width: 280px;
  width: 280px;
  margin-right: 20px;
}
@media screen and (min-width: 640px) {
  .mobileEventCardsSlide > div{
    min-width: 480px;
    width: 480px;
  }
}
@media screen and (min-width: 960px) {
  .mobileEventCardsSlide > div{
    width: auto;
  }
}

.paymentHistoryTable td:before{
  content: attr(data-label) ": ";
}
@media screen and (max-width: 959px) {
  .paymentHistoryTable tr:not(:last-child){
    border-bottom: #000 6px solid;
  }
}
@media screen and (min-width: 960px) {
  .paymentHistoryTable td::before{
    display: none;
  }
}
.paymentHistoryTable thead{
  position: relative;
}
.paymentHistoryTable thead::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
.paymentHistoryTable tbody tr:first-child td{
  border-top: transparent 15px solid;  
}

.sameHeightSlick .slick-track{
  display: flex !important;
}
.sameHeightSlick .slick-slide{
    height: inherit !important;
}
.sameHeightSlick .slick-slide > div{
  height: 100%;
}


.no-arrows, .no-arrows:focus, .no-arrows:active, .no-arrows:visited{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button{
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none; /* WebKit (Chrome, Safari) */
}

.no-arrows, .no-arrows:focus, .no-arrows:active, .no-arrows:visited{
  -moz-appearance: textfield; /* Firefox */
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: pulse 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
      transform: translate(-50%, -50%) scale(0)
  }

  60%,
  100% {
      transform: translate(-50%, -50%) scale(1)
  }
}

.castCarousel .slick-list{
  margin-left: -10px;
  margin-right: -10px;
}
.castCarousel .slick-slide {
  padding-left:10px;
  padding-right:10px;
} 
.castCarousel .slick-next{
  right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  background: "#0000002a";
}
.castCarousel .slick-prev{
  left: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  background: "#0000002a";
}
.castCarousel .slick-next::before, .castCarousel .slick-prev::before{
  display: none;
}
.castCarousel .slick-disabled{
  display: none !important;
}